.basket {
    width: 100%;
    margin-top: 25px;
}

.basket .container {
    width: 100%;

}

.del-Basket-b {
    padding-bottom: 0;
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.justify-content-between {
    align-items: center;
}

.justify-content-between span {
    background-color: transparent;
    margin: 0;
}

.basket-flex {
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    gap: 25px;
}

.basket-flex .rounded-3 {
    max-height: 800px;
}

.basket .left-bas {
    width: 800px;
    flex-basis: 1;
}

.basket-prods-view {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.btns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    bottom: 0;
}

.bottom-btns {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* ************* basket card************* */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



select {
    border-radius: 20px;
    outline: none;
    border: 1px solid #ddd;
    color: #555;
}

img {
    object-fit: contain;
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

p.h4 {
    font-family: 'Roboto Slab', serif;
}

.rating {
    font-size: 0.7rem;
}

.fa-star,
.reviews {
    color: #da9f0d;
}

div.h4 {
    font-size: 1.8rem;
    color: #da9f0d;
    font-family: 'Lora', serif;
    margin: 0;
    max-height: 50px;
}

.p-title {
    font-size: 1.1rem;
    height: 100px;
    margin-bottom: auto;
    margin-top: 20px;
}

.card {
    position: relative;
    background-color: rgb(255, 255, 255);
    color: #000;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}




.card:hover {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
    background-size: 300px;
    background-repeat: no-repeat;
    border: 1px solid #000;
    box-shadow: 5px 5px 10px rgba(0, 79, 95, 0.788);

}


.card:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}


.red {
    background-color: #e03e3e;
    position: absolute;
    color: #fff;
    border-radius: 5px;
    right: 5px;
    top: 5px;
    font-size: 0.9rem;
}

a:hover {
    text-decoration: none;
}


@media(max-width:800px) {
    .wrapper {
        margin: 20px 10px;
    }

    p.h4 {
        font-size: 1.35rem;
        padding-top: 10px;
    }
}

@media(max-width:767px) {
    .wrapper {
        max-width: 500px;
        margin: 20px auto;

    }
}

@media(max-width:424px) {
    .wrapper {
        width: 100%;
        margin: auto;
    }

    div.text-muted {
        font-size: 0.75rem;
    }
}

.input-val {
    width: 60px;
    text-align: center;
}

.payment {
    padding: 25px;
}

#wrong-data {
    color: #e03e3e;
    text-align: center;
}